# SQL Part 3 Studio

Let's practice your SQL querying skills! For each question, work along in the notebook, adding your query and answering the questions.

## The Dataset

We will be using the Goodbooks-10k dataset from the exercises in the prep work. Feel free reference your previous notebooks.

1. The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
1. You can access `BooksDB` in the LaunchCode server.

## Business Issue

You are an employee at a small independent bookstore and you have been tasked with increasing sales.  You decide to use `BooksDB` to find books and themes to highlight in fun promotions throughout each month and/or season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of promotions to run each month.  If you are looking for ideas, here are some resources on different holidays:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, National Pie Day (3/14), St. Patrick's Day (3/17), Season - Spring

### Event 1: Women's History Month

Highlight popular women writers based on ratings from `BooksDB` by writing a query that returns `tag_id`, the number of times each `tag_id` is used and the `tag_name`. Use the `GROUP BY` and `HAVING` clause to narrow your focus and try multiple keywords, such as "woman" and "female".

J.K. Rowling, Mary GrandPre
Bisco Hatori
Robin Hobb
Michelle Alexander
Julia Donaldson
Chimamanda Ngozi Adichie
Flannery O'Connor
Lois McMaster Bujold

In [ ]:
-- Solution
SELECT tags.tag_id, Count(tags.tag_id) AS tag_count, tags.tag_name
FROM BooksDB.dbo.tags AS tags
INNER JOIN BooksDB.dbo.book_tags AS btags
ON tags.tag_id = btags.tag_id
Group by tags.tag_id, tags.tag_name
HAVING tags.tag_name LIKE '%woman%' OR tags.tag_name LIKE '%female%'
ORDER BY tag_count DESC

SELECT books.authors, books.title, books.average_rating, btags.tag_id
FROM BooksDB.dbo.book_tags AS btags
INNER JOIN BooksDB.dbo.books AS books
ON books.best_book_id = btags.goodreads_book_id
WHERE (tag_id = 11643)
ORDER BY books.average_rating DESC

### Event 2: Choose another event from March/Spring

Write a query to return authors, titles, ratings, and `tag_id` that you would want to promote during your chosen event.

authors	                            title	                                    average_rating	tag_id
Barbara Cooney	                    Miss Rumphius	                            4.45	        28460
Arnold Lobel	                    Frog and Toad All Year (Frog and Toad, #3)	4.34	        28460
Robert McCloskey	                Make Way for Ducklings	                    4.21	        28460
P.D. Eastman	                    The Best Nest	                            4.19	        28460
Margaret Wise Brown, Clement Hurd	The Runaway Bunny	                        4.14	        28460
Ruth Krauss, Crockett Johnson	    The Carrot Seed	                            4.07	        28460
David Shannon	                    Duck On A Bike	                            4.06	        28460

In [ ]:
-- Solution
SELECT tags.tag_id, Count(tags.tag_id) AS tag_count, tags.tag_name
FROM BooksDB.dbo.tags AS tags
INNER JOIN BooksDB.dbo.book_tags AS btags
ON tags.tag_id = btags.tag_id
Group by tags.tag_id, tags.tag_name
HAVING tags.tag_name LIKE '%spring%'
ORDER BY tag_count DESC

SELECT books.authors, books.title, books.average_rating, btags.tag_id
FROM BooksDB.dbo.book_tags AS btags
INNER JOIN BooksDB.dbo.books AS books
ON books.best_book_id = btags.goodreads_book_id
WHERE (tag_id = 28460)
ORDER BY books.average_rating DESC

Record your thoughts about why you wrote the query the way you did.

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions:
1. Which month did you choose? November
1. What 2 events / promotions are you highlighting?  Veterans Day and Thanksgiving

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in `BooksDB` to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a `HAVING` clause.

In [ ]:
-- Event 1 Query

SELECT tags.tag_id, Count(tags.tag_id) AS tag_count, tags.tag_name
FROM BooksDB.dbo.tags AS tags
INNER JOIN BooksDB.dbo.book_tags AS btags
ON tags.tag_id = btags.tag_id
Group by tags.tag_id, tags.tag_name
HAVING tags.tag_name LIKE '%military%' OR tags.tag_name LIKE '%veteran%'
ORDER BY tag_count DESC

SELECT books.authors, books.title, books.average_rating, btags.tag_id
FROM BooksDB.dbo.book_tags AS btags
INNER JOIN BooksDB.dbo.books AS books
ON books.best_book_id = btags.goodreads_book_id
WHERE (tag_id = 20047) OR (tag_id = 20054)
ORDER BY books.average_rating DESC

### Summarize Event 1

I wanted to see that tag ids with a tag name related to the military or veterans for Veteran's Day.  Once I found the highest tagged military related tag names, I searched for the book titles and authors associated with the military.

In [ ]:
-- Event 2 Query

SELECT tags.tag_id, Count(tags.tag_id) AS tag_count, tags.tag_name
FROM BooksDB.dbo.tags AS tags
INNER JOIN BooksDB.dbo.book_tags AS btags
ON tags.tag_id = btags.tag_id
Group by tags.tag_id, tags.tag_name
HAVING tags.tag_name LIKE '%thanksgiving%' OR tags.tag_name LIKE '%pilgrim%'
ORDER BY tag_count DESC

SELECT books.authors, books.title, books.average_rating, btags.tag_id
FROM BooksDB.dbo.book_tags AS btags
INNER JOIN BooksDB.dbo.books AS books
ON books.best_book_id = btags.goodreads_book_id
WHERE (tag_id = 29599) or (tag_id = 23645) or (tag_id = 23646)
ORDER BY books.average_rating DESC

### Summarize Event 2

I wanted to see that tag ids with a tag name related to Thanksgiving or pilgrims for Thanksgiving Day.  Once I found the highest tagged thanksgiving or pilgrim related tag names, I searched for the book titles and authors associated with these tags.