# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE Sep2025JunkDB.nancy_pham.planned_makes (
    project_name VARCHAR(50),
    project_description VARCHAR(250),
    items_needed VARCHAR(250),
    project_deadline date,
    completion_date date,
    total_cost int
);

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Sep2025JunkDB.nancy_pham.planned_makes (project_name, project_description, items_needed, project_deadline, completion_date, total_cost)
VALUES ('Bday card for Mary', '40th bday card with 40 candles on a cake', 'pink cardstock, stickers, markers', 10/31/2025, 10/28/2025, 5)
VALUES ('Stickers for Halloween', 'assorted halloween and ghosts stickers', 'sticker paper, printer, cricut', 10/30/2025, 10/22/2025, 10)
VALUES ('Place cards for Thanksgiving', 'Named place cards for thanksgiving dinner', 'cardstock, cricut, markers, names for dinner', 11/28/2025, 11/10/2025, 15)

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE Sep2025JunkDB.nancy_pham.planned_makes
SET completion_date = 10/21/2025
WHERE project_name = 'Bday card for Mary';

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM Sep2025JunkDB.nancy_pham.planned_makes WHERE project_name = 'Bday card for Mary';

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE Sep2025JunkDB.nancy_pham.planned_makes